.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #212929;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}

.containerCategory {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
}
.categoryImage {
  order: 1;
}

.categoryContent {
  order: 2;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content1 {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
}

.content2 {
  order: 2;
  display: flex;
}

.contentTitle {
  order: 1;
}

.contentLink {
  order: 2;
}
.contentdescription {
  display: flex;
  align-self: flex-end;
  text-align: justify;
  text-justify: inter-word;
  padding: 6px;
}
